---
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';

import BaseHead from '../../components/BaseHead.astro';
import Body from "../../layouts/Body.astro";

import {Navbar} from '../../components/Navbar';
import Footer from '../../components/Footer.astro';
import { Icon } from 'astro-icon/components';
import {button} from "../../static/cssts/button.css";
import Logs from "../../components/posts.astro";

export const prerender = true;
---

<!doctype html>
<html lang="en">
	<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Navbar />
    <main>
      <header>
        <h1>VT's dev log</h1>
        <p>Mostly focused on quite low level software-engineering stuff.</p>
        <a href="/logs/tags" class={button({variant: "underline"})}>All tags <Icon name="arrow-right" /></a>
      </header>
      <section>
        <Logs />
      </section>
      <Footer />
    </main>
  </Body>
</html>

<style>
  header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
  }

  p {
    color: var(--gray-11);
    margin-bottom: 0.5rem;
  }

  h1 {
    margin-top: 2rem;
    color: var(--gray-12);
    font-size: 2rem;
    font-weight: 800
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    margin-top: 6rem;
  }
</style>
