---
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';

import BaseHead from '../../components/BaseHead.astro';
import Body from "../../layouts/Body.astro";

import Navbar from '../../components/Navbar.astro';
import Footer from '../../components/Footer.astro';
import { Icon } from 'astro-icon/components';
import {button} from "../../static/cssts/button.css";
import Logs from "../../server-islands/posts.astro";
---

<!doctype html>
<html lang="en">
	<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Navbar />
    <main>
      <div class="flex flex-col gap-2 items-start">
        <h1 class="mt-8 text-[var(--gray-12)] text-3xl md:text-5xl xl:text-7xl font-[800]">VT's dev log</h1>
        <p class="text-[var(--gray-11)] mb-2">Mostly focused on quite low level software-engineering stuff.</p>
        <a href="/logs/tags" class={button({underline: true})}>All tags <Icon name="arrow-right" /></a>
      </div>
      <section>
        <Logs />
      </section>
      <Footer />
    </main>
  </Body>
</html>

<style>
  main {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    margin-top: 6rem;
  }
</style>
