---
import { Image } from "astro:assets";

export interface Props {
  src: string;
  alt: string;
  __optimizedSrc?: ImageMetadata;
}
const { src, alt, __optimizedSrc } = Astro.props;
---

<div>
  {typeof __optimizedSrc === 'undefined' ? <img src={src} alt={alt} /> : <Image src={__optimizedSrc} widths={[900, 700, 500]} alt={alt} />}
</div>
<style>
  @media print {
    div {
      padding-inline: 5rem;
    }
  }
  img {
    border-radius: 0.5rem;
  }
</style>
