.my-content :where(p):not(:where([class~=content-p-ignore],[class~=content-p-ignore] *)) {
  color: var(--gray-12);
  margin-block: 1.5rem;
}

.my-content :where(li):not(:where([class~=content-li-ignore],[class~=content-li-ignore] *)) {
  color: var(--gray-12);
  list-style-type: disc;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
  &:last-child {
    margin-bottom: 0;
  }
}

.my-content :where(pre):not(:where([class~=content-pre-ignore],[class~=content-pre-ignore] *)) {
  padding: 0.8rem;

  @media screen and (min-width: 900px) {
    padding: 1.2rem;
  }
}

.my-content :where(a):not(:where([class~=content-a-ignore],[class~=content-a-ignore] *)) {
  color: var(--blue-11);
  font-weight: 600;

  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 2px;
}
