html {
  @media (prefers-color-scheme: dark) {
    *::selection {
      background-color: var(--red-11);
      color: var(--gray-a12);
    }


    .shiki,
    .shiki span {
      color: var(--shiki-dark) !important;
      background-color: var(--shiki-dark-bg) !important;
      /* Optional, if you also want font styles */
      font-style: var(--shiki-dark-font-style) !important;
      font-weight: var(--shiki-dark-font-weight) !important;
      text-decoration: var(--shiki-dark-text-decoration) !important;
    }

    --blue-1: #0e101b;
    --blue-2: #141625;
    --blue-3: #1e2248;
    --blue-4: #262b63;
    --blue-5: #2f3573;
    --blue-6: #394082;
    --blue-7: #444c96;
    --blue-8: #515ab1;
    --blue-9: #6772e5;
    --blue-10: #5b65d6;
    --blue-11: #a0afff;
    --blue-12: #dae1ff;

    --blue-a1: #0000f90b;
    --blue-a2: #344bf916;
    --blue-a3: #4a5bff3b;
    --blue-a4: #4e5dff58;
    --blue-a5: #5a69ff69;
    --blue-a6: #6574fd7a;
    --blue-a7: #6c7bff8f;
    --blue-a8: #6f7dfeac;
    --blue-a9: #717dfee4;
    --blue-a10: #6a76fed4;
    --blue-a11: #a0afff;
    --blue-a12: #dae1ff;

    --blue-contrast: #fff;
    --blue-surface: #171b3980;
    --blue-indicator: #6772e5;
    --blue-track: #6772e5;

    --gray-1: #111111;
    --gray-2: #191919;
    --gray-3: #222222;
    --gray-4: #2A2A2A;
    --gray-5: #313131;
    --gray-6: #313131;
    --gray-7: #484848;
    --gray-8: #606060;
    --gray-9: #6E6E6E;
    --gray-10: #7B7B7B;
    --gray-11: #B4B4B4;
    --gray-12: #EEEEEE;

    --gray-a1: #fcfcfd;
    --gray-a2: #f9f9fb;
    --gray-a3: #eff0f3;
    --gray-a4: #e7e8ec;
    --gray-a5: #e0e1e6;
    --gray-a6: #d8d9e0;
    --gray-a7: #cdced7;
    --gray-a8: #b9bbc6;
    --gray-a9: #8b8d98;
    --gray-a10: #80828d;
    --gray-a11: #62636c;
    --gray-a12: #1e1f24;

    --red-5: #611623;
    --red-7: #8C333A;
    --red-8: #B54548;
    --red-10: #EC5D5E;
    --red-11: #FF9592;
    --red-12: #FFD1D9;

    --red-a12: #641723;

    --green-6: #20573E;
    --green-10: #33B074;
  }

  @media (prefers-color-scheme: light) {
    --blue-1: #fdfdfe;
    --blue-2: #f7f9ff;
    --blue-3: #edf2fe;
    --blue-4: #dfeaff;
    --blue-5: #d0dfff;
    --blue-6: #bdd1ff;
    --blue-7: #a6bff9;
    --blue-8: #87a5ef;
    --blue-9: #3d63dd;
    --blue-10: #3657c3;
    --blue-11: #0D74CE;
    --blue-12: #113264;

    --blue-a1: #00008002;
    --blue-a2: #0040ff08;
    --blue-a3: #0047f112;
    --blue-a4: #0058ff20;
    --blue-a5: #0052ff2f;
    --blue-a6: #004eff42;
    --blue-a7: #0048ee59;
    --blue-a8: #0040dd78;
    --blue-a9: #0032d2c2;
    --blue-a10: #002ab3c9;
    --blue-a11: #002cb7c6;
    --blue-a12: #C2E6FF;

    --blue-contrast: #fff;
    --blue-surface: #f5f8ffcc;
    --blue-indicator: #3d63dd;
    --blue-track: #3d63dd;

    --gray-1: #fcfcfd;
    --gray-2: #f9f9fb;
    --gray-3: #eff0f3;
    --gray-4: #e7e8ec;
    --gray-5: #e0e1e6;
    --gray-6: #d8d9e0;
    --gray-7: #cdced7;
    --gray-8: #b9bbc6;
    --gray-9: #8b8d98;
    --gray-10: #80828d;
    --gray-11: #62636c;
    --gray-12: #1e1f24;

    --gray-a1: #00005503;
    --gray-a2: #00005506;
    --gray-a3: #00104010;
    --gray-a4: #000b3618;
    --gray-a5: #0009321f;
    --gray-a6: #00073527;
    --gray-a7: #00063332;
    --gray-a8: #00083046;
    --gray-a9: #00051d74;
    --gray-a10: #00051b7f;
    --gray-a11: #0002119d;
    --gray-a12: #EEEEEE;

    --gray-contrast: #FFFFFF;
    --gray-surface: #ffffffcc;
    --gray-indicator: #8b8d98;
    --gray-track: #8b8d98;

    --red-5: #FFCDCE;
    --red-7: #F4A9AA;
    --red-8: #EB8E90;
    --red-10: #DC3E42;
    --red-11: #CE2C31;
    --red-12: #641723;

    --red-a12: #FFD1D9;

    --green-6: #ADDDC0;
    --green-10: #2B9A66;
  }
}
