---
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Body from "../layouts/Body.astro";

import BaseHead from '../components/BaseHead.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body class="flex flex-col gap-36">
    <h1 class="mt-36">
      <p class="text-6xl text-[var(--blue-11)]">
        Oh no, <span class="text-[var(--blue-10)] font-bold">Error: 404</span>
      </p>
      <p class="mt-3 text-lg text-[var(--blue-11)]">This page doesn't exist :(</p>
    </h1>
  </Body>
</html>
