---
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import BaseHead from '../components/BaseHead.astro';
import {CV} from "../components/Cv";
import { Navbar } from '../components/Navbar';
import Body from '../layouts/Body.astro';

export const prerender = true;
---

<!DOCTYPE html>
<html lang="en">
	<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <link rel="stylesheet" href="/css/article.css" />
  </head>
  <Body>
    <Navbar />
    <main class="my-content">
      <CV />
    </main>
  </Body>
</html>
