---
import { Icon } from "astro-icon/components";
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
	const project = await getCollection('project');
  return project.filter(post => process.env.NODE_ENV == "development" || !!post.data.date).map((post) => post);
}

export type Props = {};

const projects = await getStaticPaths();
---
<div>
  <header class="w-full flex flex-col items-center gap-4">
    <h1 class="font-bold print:text-2xl">VINCENT THOMAS</h1>
    <div class="flex gap-3 text-sm">
      <div class="flex gap-2"><Icon name="mail" size="20px" /><span data-email-inner=""></span></div>
      <div class="flex gap-2"><Icon name="linkedin" size="20px" />v-thomas.com/linkedin</div>
      <div class="flex gap-2"><Icon name="github" size="20px" />v-thomas.com/github</div>
      <div class="flex gap-2"><Icon name="web" />v-thomas.com</div>
    </div>
  </header>
  <div class="flex flex-col my-8 px-3">
    <h2>About me</h2>
    <p>
      I am a 18 year old male who is currently attending NTI Gymnasiet in Johanneberg, Sweden.
      I always have a project to work on and I am always looking for new things to learn.
      I love difficult problems and I am always looking for a challenge.
    </p>
  </div>
  <div class="flex flex-col my-8 px-3">
    <h2 class="print:text-[1.3rem]">Projects</h2>
    {projects.map(project => (
    <div class="flex flex-col gap-2 mb-4 last:mb-0">
      <div class="flex gap-2 justify-start">
        <strong>{project.data.title}</strong>
        -
        <a href={`/projects/${project.id}`}>v-thomas.com/projects/{project.id}</a>
        <span class="ml-auto">
          {!project.data.dateFinished ? "Active" : "Inactive"}
        </span>
      </div>
        <p>{project.data.description.replaceAll("\n", " ").trim()}</p>
      </div>
    ))}
  </div>
</div>

<style>
  h2 {
    width: 100%;

    font-weight: bold;

    border-bottom: 1px solid var(--blue-indicator);
    margin-bottom: 0.5rem;
  }
  h3 {

    font-weight: bold;
  }
</style>
