---
import { Icon } from "astro-icon/components";
import { button } from "../static/cssts/button.css";
import { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<'a'> {
  href: string;
  overrideText?: string;
}

const {href, class: classList, overrideText, ...props} = Astro.props;
---

<a href={href} class:list={[button(), classList]} {...props}>
  <Icon name="arrow-left" size="20px" /> {overrideText || "Go back"}
</a>
