---
import HeaderLink from './HeaderLink.astro';
import { Icon } from "astro-icon/components"

type Props = {
  href: string;
  icon: string;
};

const { href, icon, ...props } = Astro.props;
---
<a href={href} class="text-gray-400 hover:text-white transition" {...props}>
  <Icon name={icon} size="28" />
</a>

