---
import { Icon } from "astro-icon/components";
import SocialLink from "./SocialLink.astro";
---

<nav>
  <SocialLink rel="nofollow" href="" data-email-href="" label="Email me"><Icon name="mail" size="24px" /></SocialLink>
  <SocialLink rel="nofollow" href="/github" label="My github profile"><Icon name="github" size="24px" /></SocialLink>
  <SocialLink rel="nofollow" href="/x" label="My X (former twitter) profile"><Icon name="x" size="24px" /></SocialLink>
  <SocialLink rel="nofollow" href="/linkedin" label="My LinkedIn profile"><Icon name="linkedin" size="24px" /></SocialLink>
</nav>

<style lang="scss">
  nav {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }

  [data-icon] {
    color: inherit;
  }
</style>
