---
import { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'a'> {
  href: string;
  label: string
}

const {href, label, ...props} = Astro.props as Props;
---

<a {...props} href={href} aria-label={label}>
  <slot />
</a>

<style lang="scss">
  a {
    color: var(--blue-11);
    transition: all 0.2s ease;

    &:hover {
      color: var(--blue-12);
    }
  }
</style>
