---
import Icon from "../components/Icon.astro";

// Icons are quite uneven in sizes.
---

<nav class="flex items-center">
  <a data-preload-ignore data-email-href=""><social-link label="Email me"><Icon icon="mail" size="md" /></social-link></a>
  <a href="https://v-thomas.com/github"><social-link label="My github profile"><Icon icon="github" size="md" /></social-link></a>
  <a href="https://v-thomas.com/x"><social-link label="My X (former twitter) profile"><Icon icon="x" size="sm" /></social-link></a>
  <a href="https://v-thomas.com/linkedin"><social-link label="My LinkedIn profile"><Icon icon="linkedin" size="sm" /></social-link></a>
</nav>

<style>
  nav {
    display: flex;
    gap: 0.75rem;
  }
</style>
