---
import Github from '~icons/simple-icons/github';
import Email from '~icons/mdi/email';
import X from '~icons/simple-icons/x';
import LinkedIn from '~icons/simple-icons/linkedin';
---

<nav>
  <social-link data-email-href="" label="Email me" set:html={Email}></social-link>
  <social-link href="https://v-thomas.com/github" label="My github profile" set:html={Github}></social-link>
  <social-link href="https://v-thomas.com/x" label="My X (former twitter) profile" set:html={X}></social-link>
  <social-link href="https://v-thomas.com/linkedin" label="My LinkedIn profile" set:html={LinkedIn}></social-link>
</nav>

<style>
  nav {
    display: flex;
    gap: 0.75rem;
  }
</style>
