---
import Icon from "../components/Icon.astro";

// Icons are quite uneven in sizes.
---

<nav class="flex items-center">
  <social-link data-email-href="" label="Email me"><Icon icon="mail" size="md" /></social-link>
  <social-link href="https://v-thomas.com/github" label="My github profile"><Icon icon="github" size="md" /></social-link>
  <social-link href="https://v-thomas.com/x" label="My X (former twitter) profile"><Icon icon="x" size="sm" /></social-link>
  <social-link href="https://v-thomas.com/linkedin" label="My LinkedIn profile"><Icon icon="linkedin" size="sm" /></social-link>
</nav>

<style>
  nav {
    display: flex;
    gap: 0.75rem;
  }
</style>
