---
import { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'a'> {
  href: string;
};

const props: Props = Astro.props;
---
<a {...props}><slot /></a>

<style>
  a {
    color: var(--blue-12);
    text-decoration: none;

    padding-block: 0.25rem;
    padding-inline: 0.5rem;

    border: 1px solid var(--blue-10);
    border-radius: 0.25rem;
    &:hover {
      background-color: var(--blue-4);
    }
  }
</style>
