---
export type Props = { level: number, id: string };
import { Icon } from "astro-icon/components";

const {level, id} = Astro.props as Props;

const headerProps = {id, class:"header"};
---

<div class="flex items-center outer gap-[0.75rem]">
  <a class="ignore-link cursor-pointer" href={`#${id}`}><Icon name="link" size="24px" /></a>
  {level === 1 && <h1 {...headerProps}><slot /></h1>}
  {level === 2 && <h2 {...headerProps}><slot /></h2>}
  {level === 3 && <h3 {...headerProps}><slot /></h3>}
  {level === 4 && <h4 {...headerProps}><slot /></h4>}
  {level === 5 && <h5 {...headerProps}><slot /></h5>}
  {level === 6 && <h6 {...headerProps}><slot /></h6>}
</div>

<style>
  a {
    visibility: hidden;
    transform: rotate(-45deg);
    color: var(--gray-11);
  }

  .outer {
    margin-inline-start: calc(-24px - 0.75rem);

    &:hover a {
      visibility: visible;

      &:hover {
        color: var(--red-11);
      }
    }
  }

  .header {
    scroll-margin-top: 2rem;
  }
</style>
