---
import Global from "../components/GlobalDropdownMenu.astro";
import Social from "../components/NavSocialLink.astro"
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"

let props = Astro.props;
---

<body>
  <main class="w-full mx-auto max-w-[1000px] px-6 py-4 lg:py-10 flex flex-col gap-4">
    <Header />
      <div {...props}>
      <slot/>
    </div>
    <Footer />
  </main>
</body>
