<body>
  <div class="lg:py-10">
    <slot/>
  </div>
</body>

<style>
  div {
    width: 100%;
    max-width: 900px;

    margin: 0 auto;
    padding-inline: 1.5rem;
    padding-block: 1rem;

  }
</style>
